.App {
  text-align: center;
  background-color: #618aab
}

@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: #618aab;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.headerLink {
    display: flex;
    justify-content: center;
    color: #1d2931;
}
.headerLink:hover {
    color: #1d2931
}
.headerLink:visited {
    color: #1d2931
}

.sortOptions {
    opacity: 0;
}
.sortOptionsBar label {
    background-color: #d09433;
    cursor: pointer;
}
.sortOptionsBar input[type="radio"]:checked+label {
    background-color: #54a164;
    cursor: pointer;
}

.articleCardLinks {
    color: #1d2931;
}
.articleCardLinks:hover {
    color: #a27049;
}
.articleCardLinks:visited {
    color: #a27049;
}

.articleList {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: auto; 
  width: 100vw;
  padding: 0;
}

.articleCard {
  width: 70vw;
  height: 40vh;
  border:rgb(0, 0, 0) solid;
  border-radius: 25px;
  margin: 1px;
  /* background-color: #362f52; */
  background-image: radial-gradient(#618aab 1%, #362f52 99%);
  color: #d09433;
}
@media only screen and (min-width: 768px) {
   .articleCard{
        width: 40vw;
        height: 25vh
    }
}
@media only screen and (min-width: 1200px) {
    .articleCard{
         width: 32vw;
         height: 30vh;
         margin: 3px;
     }
 }

.articleTitle {
  font-size: 24px;
}
.commentButtonText {
    text-align: right;
    position: inherit;
    bottom: -100px;
    right: 0px;
}
.commentIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    /* height: 100%;
    width: 100%; */
    bottom: 10vh;
    right: 15px;
    height: 0px;
    width: 50px;
}
input[type=checkbox]:checked ~ .commentIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .commentIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .commentIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
input[type="checkbox"]:checked ~ #commentbarMenu {
    transform: translateX(0);
}
#commentbarMenu {
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 250px;
    margin-top: 0px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #618aab 0%, #d09433 100%);
    overflow: scroll;
}

/* sidebar start */
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #618aab 0%, #d09433 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #1d2931;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: #1d2931(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #1d2931;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
/* sidebar end */